<?xml version="1.0"?>
<config>
  <modules>
	 <Batman_Cielo>
		<version>011</version>
	 </Batman_Cielo>
  </modules>

  <global>
	<blocks>
            <cielo><class>Cielo_Block</class></cielo>
        </blocks>
	  <models>
		  <cielo>
			  <class>Cielo_Model</class>
		  </cielo>
	  </models>
	<helpers>
            <cielo><class>Cielo_Helper</class></cielo>
        </helpers>
	  <resources>
		  <cielo_setup>
			  <setup>
				  <module>Cielo</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </cielo_setup>
		  <cielo_write>
			  <connection>
				<use>core_write</use>
			  </connection>
		  </cielo_write>
		  <cielo_read>
			 <connection>
			  <use>core_read</use>
			</connection>
		  </cielo_read>
	  </resources>
		<cielo>
                <types>
                    <VD>
                        <code>VD</code>
                        <name>Visa Débito</name>
                        <order>10</order>
                    </VD>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </MC>
                    <EL>
                        <code>EL</code>
                        <name>Elo</name>
                        <order>30</order>
                    </EL>
                    <DI>
                        <code>DI</code>
                        <name>Diners</name>
                        <order>30</order>
                    </DI>
                    <DS>
                        <code>DS</code>
                        <name>Discover</name>
                        <order>30</order>
                    </DS>

                </types>
		<paymentsaccepted>
			<x1>
				<code>1</code>
				<name>Crédito à vista</name>
				<order>200</order>
			</x1>
			<x3>
				<code>3</code>
				<name>3X</name>
				<order>210</order>
			</x3>
			<x6>
				<code>6</code>
				<name>6X</name>
				<order>220</order>
			</x6>
			<x12>
				<code>12</code>
				<name>12X</name>
				<order>230</order>
			</x12>
			<x18>
				<code>18</code>
				<name>18X</name>
				<order>240</order>
			</x18>
			<x26>
				<code>26</code>
				<name>26X</name>
				<order>250</order>
			</x26>
			<x56>
				<code>56</code>
				<name>56X</name>
				<order>260</order>
			</x56>					
		</paymentsaccepted>
            </cielo>
	<events>
            <sales_order_save_before>
                <observers>
                    <cielo_sales_order_save_before>
                        <class>cielo/observer</class>
                        <method>salesOrderBeforeSave</method>
                    </cielo_sales_order_save_before>
                </observers>
            </sales_order_save_before>
        </events>

  </global>
 
  <frontend>
	<routers>
	  <cielo>
		<use>standard</use>
		<args>
		<module>Batman_Cielo</module>
		<frontName>cielo</frontName>
		</args>
	  </cielo>
	</routers>
        <layout>
            <updates>
                <cielo>
                    <file>batmancielo.xml</file>
                </cielo>
            </updates>
        </layout>
  </frontend>

  <admin>
        <routers>
          <cielo>
	    <use>admin</use>
            <args>
		<module>Batman_Cielo</module>
		<frontName>cielo</frontName>
            </args>
          </cielo>
        </routers>
    </admin>

  <default>
	  <payment>
		  <cielo>
			  <active>1</active>
			  <model>cielo/PaymentMethod</model>
			  <order_status>1</order_status>
			  <title>Cartão de Crédito (Cielo)</title>
			  <cctypes>VI,MC</cctypes>
			  <confirm>1</confirm>
			  <alterar_status_pagamento>1</alterar_status_pagamento>
			  <fill>0</fill>
			  <payment_action>authorize</payment_action>
			  <allowspecific>0</allowspecific>
		  </cielo>
	   </payment>
  </default>
</config>
